
            <!DOCTYPE html>
              <html>
                <head>
                  <meta charset="utf-8" />
                  <meta name="viewport" content="width=device-width" />
                  <title></title>
                  <link href="/layout/vendor~253ae210-d0b0fa0de5dfb1f1270c.css" rel="stylesheet"><link href="/layout/vendor~1f20a385-b5e838aa05e2e2dbf2f5.css" rel="stylesheet"><link href="/layout/layout-fc05cccd9da0b6490d83.css" rel="stylesheet">
                  <link href='/favicon.ico' rel='shortcut icon'>
                  <script src='/static/js/system.min.js'></script>
                  <script src='/static/js/named-exports.min.js'></script>
                  <script src='/static/js/use-default.min.js'></script>
                  <script src='/static/js/amd.js'></script>
                  
                </head>
                <body>
                  
            <script type="systemjs-importmap">
              {"imports":{"react":"/static/js/react.production.min.js","react-dom":"/static/js/react-dom.production.min.js","single-spa":"/static/js/single-spa.min.js","single-spa-react":"/static/js/single-spa-react.js","moment":"/static/js/moment.min.js","react-router":"/static/js/react-router.min.js","react-router-dom":"/static/js/react-router-dom.min.js","lodash":"/static/js/lodash.min.js","echarts":"/static/js/echarts.min.js","history":"/static/js/history.production.min.js"}}
            </script>
          
                  <script async src="/layout/vendor~b9cf3951-0a7685dab7a483b5f175.js"></script><script async src="/layout/vendor~253ae210-d0b0fa0de5dfb1f1270c.js"></script><script async src="/layout/vendor~1f20a385-b5e838aa05e2e2dbf2f5.js"></script>
                  <script type="systemjs-importmap">
                    {
                      "imports": {"@portal/layout":"/layout/layout-fc05cccd9da0b6490d83.js"}
                    }
                  </script>
                  <script>
                    System.import('@portal/layout');
                  </script>
                  <div id="layout"></div>
                </body>
              </html>
            